<a href="https://colab.research.google.com/github/Soubhagya48/DMDW-LAB2/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Rachnagit-hub/DMDW-lab2/main/data.csv'
dt1 = pd.read_csv(url)
dt1.head()

   age gender  income  spending
0   22      m   12000      5000
1   25      f   32000      2300
2   23      f   22000      4000
3   22      m   26000      3500

In [4]:
import numpy

In [5]:
arr=numpy.array([1,2,3,4,5])

In [6]:
arr

array([1, 2, 3, 4, 5])

In [ ]:
array([1, 2, 3, 4, 5])

In [8]:
import numpy as np

In [ ]:
arr=np.array([1,2,3,4,5])

In [10]:
print(arr)

[1 2 3 4 5]